<configuration>
    <packageSources>
        <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
        <add key="toycloud" value="http://taosvr:8081/repository/nuget-group" />
      <add key="toycloud2" value="http://taosvr:8081/repository/nuget.org-proxy" />
      
    </packageSources>
</configuration>